@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* variables */
:root {
   --primary: #009bd2;
   --lightgrey: #f6f6f6;
   --darkgrey: #676767;
   --white: #fff;
   --secondary: #6e2387;
   --hover: #1a83af;
}

/* reset */
body,
p,
a,
ul,
li {
   margin: 0;
   padding: 0;
   text-decoration: none;
}
li {
   list-style-type: none;
}

/* base styles */
body {
   overflow-x: hidden;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}
.button {
   background: var(--primary);
   border: 2px solid var(--primary);
   color: var(--white);
   padding: 6px 15px;
   border-radius: 10px;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
   display: inline-block;
   font-size: 1em;
}
.button:hover {
   color: #fff;
   background: var(--hover);
   border: 2px solid var(--hover);
}
.leading {
   font-size: 1.1em;
   margin-bottom: 20px;
}
.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.flex {
   display: flex;
}
.wrapper {
   width: 1100px;
   margin: 0 auto;
}

/* FONTS */
h1,
h2,
h3,
h4 {
   color: var(--darkgrey);
   line-height: 1.4em;
}
p,
a,
li {
   color: var(--darkgrey);
   line-height: 1.6em;
   font-size: 1.2em;
}

h1,
h3 {
   font-size: 2.2em;
}

h2 {
   font-size: 1.3em;
}
h4 {
   font-size: 1.1em;
}

/* content */
nav {
   width: 1100px;
   justify-content: space-between;
   padding: 12px 0;
}

nav li {
   padding: 0 5px;
   margin: 5px 5px;
   text-transform: uppercase;
   font-weight: bold;
}

nav img {
   width: 120px;
   padding: 5px 5px;
}

nav a {
   color: var(--primary);
   font-size: 0.9em;
}

.hero,
.hero-bottom {
   background-color: var(--secondary);
   padding: 30px 0;
}

.hero .grid,
.hero-bottom .grid {
   grid-template-columns: repeat(8, 1fr);
   align-items: center;
}

.hero-content {
   grid-column: 1/5;
}

.hero-img {
   grid-column: 5/9;
   justify-self: flex-end;
}

.hero *,
.hero-bottom * {
   color: var(--white);
}

.hero .wrapper,
.hero-bottom .wrapper {
   padding: 0;
}

.hero p,
.hero-bottom p {
   margin-bottom: 20px;
}

.hero2 {
   padding: 50px 0;
}

.hero2 h1 {
   font-size: 1.8em;
}

.hero2 .flex {
   justify-content: center;
}

.hero2 a img {
   width: 150px;
   padding: 5px;
}

.hero2 h1 {
   text-align: center;
}

.openAccount {
   background-color: var(--lightgrey);
   padding: 90px 0;
}

.openAccount .grid,
.high-interest-rate .grid,
.ewallet .grid,
.debitcard .grid,
.unexpected .grid {
   align-items: center;
   justify-items: center;
}

.openAccount h1,
.high-interest-rate h1,
.ewallet h1,
.debitcard h1,
.unexpected h1 {
   font-size: 1.8em;
}

.high-interest-rate,
.ewallet,
.debitcard,
.unexpected {
   padding: 90px 0;
}
.ewallet {
   background-color: var(--lightgrey);
}
.ewallet-content {
   order: 2;
}
.ewallet-img {
   order: 1;
}
.unexpected-content {
   order: 2;
}
.unexpected-img {
   order: 1;
}
.unexpected {
   background-color: var(--lightgrey);
}
.hero-bottom {
   padding: 0;
}
.hero-bottom p {
   max-width: 80%;
}
.hero-bottom-img {
   grid-column: 1/5;
   justify-self: flex-start;
}
.hero-bottom-content {
   grid-column: 5/9;
   padding: 70px 0;
}

.get-jenius-app {
   margin: 10px 0;
}
.get-jenius-app ul li a {
   font-size: 0.8em;
   padding: 0 10px;
   margin: 0 5px;
}
.get-jenius-app.flex {
   justify-content: space-between;
   align-items: center;
}
.get-jenius-app h2 {
   padding: 0 10px;
}
footer {
   padding: 30px 0;
}
.link-icons-btn a img {
   width: 125px;
}
.link-icons ul li a {
   padding: 0 10px;
}
.link-icons.flex {
   justify-content: space-between;
}
.link-icons-social li a {
   padding: 0 10px;
   margin: 0 5px;
}
.link-icons {
   margin-bottom: 20px;
}
.logo-btpn a img {
   width: 125px;
   padding-left: 10px;
}
.ojk p,
.privacy-terms li a {
   font-size: 0.7em;
}
.bank-btpn.flex {
   align-items: center;
}
.ojk {
   margin-left: 40px;
}
.privacy-terms li a {
   padding: 0 10px;
}
.privacy-terms {
   margin-left: 230px;
}
