@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* variables */
:root {
   --primary: #009bd2;
   --lightgrey: #f6f6f6;
   --darkgrey: #676767;
   --white: #fff;
   --secondary: #6e2387;
}

/* reset */
body,
p,
a,
ul,
li {
   margin: 0;
   padding: 0;
   text-decoration: none;
}
li {
   list-style-type: none;
}

/* base styles */
body {
   overflow-x: hidden;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}
.button {
   background: var(--primary);
   border: 2px solid var(--primary);
   color: var(--white);
   padding: 10px 19px;
   border-radius: 5px;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
   display: inline-block;
   font-size: 1em;
}
.button:hover {
   color: #222;
   background: var(--primary);
}

/* FONTS */
h1,
h2,
h3,
h4 {
   color: var(--darkgrey);
   line-height: 1.4em;
}
p,
a,
li {
   color: var(--darkgrey);
   line-height: 1.6em;
   font-size: 1.2em;
}

h1,
h3 {
   font-size: 2.2em;
}

h2 {
   font-size: 1.3em;
}
h4 {
   font-size: 1.1em;
}

.leading {
   font-size: 1.1em;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
}
.flex {
   display: flex;
}

/* content */
nav {
   width: 1100px;
   justify-content: space-between;
   padding: 12px 0;
}

nav li {
   padding: 0 5px;
   margin: 5px 5px;
   text-transform: uppercase;
   font-weight: bold;
}

nav img {
   width: 120px;
   padding: 5px 5px;
}

nav a {
   color: var(--primary);
   font-size: 0.9em;
}

.hero {
   background-color: var(--secondary);
   padding: 30px 0;
}

.hero * {
   color: var(--white);
}

.wrapper {
   width: 1100px;

   margin: 0 auto;
}

.hero p {
   margin-bottom: 20px;
}
